*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing:inherit;
}

html{
    box-sizing:border-box;
    height:100%;
}

body{
    font-size:62.5%;
    text-rendering: optimizeLegibility;
    height:100%;
    overflow:auto;
    font-family:'Roboto', sans-serif;
}

main{
    height:100%;
    overflow:auto;
}

.login-container{
    width:100%;
    height:100%;
    padding:1rem;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#000;
}

.login-form{
    background:#fff;
    padding:1rem;
    border-radius:.5rem;
    width:30rem;

    h1{
        font-size:2rem;
        text-align:center;
        color:#274869;
    }

}

.form-group{
    margin:1rem 0;
}

.label{
    display:block;
    text-align:left;
    font-size:1rem;
    color:#555;

    sup{
        color:red;
    }
}

.text-input, .select-input, .textarea{
    border:0;
    background:rgb(216, 230, 255);
    padding:.5rem .8rem;
    font-family:inherit;
    width:100%;
}

.text-input, .select-input{
    font-size:1.5rem;
}

.textarea{
    font-size:1rem;
}

.file-input{
    width:100%;
    padding:1rem;
    border:1px solid #777;
    margin-top:2px;
    border-radius:4px;
}

.btn{
    padding:1rem;
    font-size:1.2rem;
    background:transparent;
    text-transform: uppercase;
    cursor:pointer;
    text-decoration: none;

    &--primary{
        border:2px solid #4972e3;
        color: #4972e3;
    }

    &--danger{
        border:2px solid rgb(240, 67, 67);
        color:rgb(240, 67, 67);
    }

    &--warning{
        border:2px solid orange;
        color:orange;
    }

    &--block{
        display:block;
        width:100%;
    }
}

.errbox{
    color:#f00;
    padding:1rem;
    background:rgb(253, 226, 226);
    border:1px solid #f00;
    display:none;
    font-size:1rem;
}

.p1{
    padding:1rem;
}

.text-center{
    text-align:center;
}

.logo{
    height:2.5rem;
    display:block;
    margin:auto;
}

.list{
    margin:1rem auto;
    border:1px solid #777;
    border-radius:4px;
    max-width:30rem;
    margin:auto;

    li{
        list-style:none;
        padding:1rem;
        color:#777;
        font-size:1.2rem;
        display:flex;
        justify-content: space-between;

        &:not(:last-child){
            border-bottom:1px solid #777;
        }
    }

    &__opts{
        display:flex;
        align-items:center;
        i {
            margin:0 .5rem;
            font-size:1.5rem;
        }
    }

    &__edit-icon{
        color:orange;
        cursor:pointer;
    }

    &__delete-icon{
        color:red;
        cursor:pointer;
    }
}

.subpanel-nav{
    font-size:1.3rem;
    margin:1rem 0;
    
    a{
        margin:0 .5rem;
    }
}

.dropdown-pane{
    border:1px solid #777;
    border-radius:4px;
    max-width:30rem;
    margin:1rem auto;

    &__title{
        font-size:1.2rem;
        text-align:center;
        color:#777;
        padding:1rem;
        cursor:pointer;
    }

    &__content{
        height:0;
        overflow:hidden;
        transition:.3s all;
    }

    &__content.show{
        height:auto;
        padding:1rem;
    }
}

.modal{
    position:fixed;
    left:0;
    top:0;
    z-index:20;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.8);
    display:none;
    justify-content:center;
    align-items:center;
    padding:1rem;

    &__heading{
        font-size:1.5rem;
    }

    &__content{
        width:30rem;
        padding:1rem;
        background:#fff;
        border-radius:4px;
    }

    &.show{
        display:flex;
    }
}

.menu-items-listings{
    max-width:40rem;
    margin:auto;
}

.menu-items-category{
    margin-top:2rem;

    &__heading{
        font-size:1.2rem;
    }
}

.menu-item{
    border-bottom:1px solid #ccc;
    margin-top:1rem;
    padding:1rem;
    display:flex;
    justify-content:space-between;
    align-items:center;

    &__name{
        font-size:1.1rem;
        color:#777;
    }

    &__thumbnail{
        width:4rem;
    }
}

.menu-item-details{
    margin-top:2rem;
    max-width:40rem;
    margin:auto;

    &__name{
        font-size:1.2rem;
    }

    &__desc{
        font-size:1rem;
        margin-top:1rem;
    }

    &__cat{
        margin-top:1rem;
        font-size:1rem;
    }
}

.add-menu-item-form{
    margin:2rem auto;
    max-width:30rem;
}

fieldset{
    border:0;
}

legend{
    font-size:1.2rem;
    text-align:left;
}

.currentOffersList{
    display:block;
    margin-top:3rem;
    max-width:30rem;
    margin:auto;

    &__heading{
        font-size:1.2rem;
        padding-bottom:.5rem;
        border-bottom:1px solid #ccc;
    }
}

.offer-item{
    margin:1rem 0;
    border:1px solid #ccc;
    padding:1rem;

    &__title{
        font-size:1.2rem;
    }

    &__img{
        max-width:15rem;
        margin:1rem 0;
    }

    &__expireDate{
        font-size:1.2rem;
    }

    &__desc{
        font-size:.8rem;
        margin-top:1rem;
    }

}