<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('partials/head.ejs') %>
<body class="p1 text-center">
    <img src="/img/snocream-logo-transparent.png" class="logo"/>
    <h1>Administration Panel</h1>
    <nav>
        <ul class="list">
            <li>Menu Categories</li>
            <li>Menu Items</li>
            <li>Logout</li>
        </ul>
    </nav>
</body>
</html>