<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('partials/head.ejs') %>
<body class="p1 text-center">
    <img src="/img/snocream-logo-transparent.png" class="logo"/>
    <h1>Administration Panel</h1>
    <nav>
        <ul class="list" style="margin-top:2rem;">
            <li><a href="/admin/menu-categories">Menu Categories</a></li>
            <li><a href="/admin/menu-items">Menu Items</a></li>
            <li>Logout <i class="fa fa-sign-out"></i></li>
        </ul>
    </nav>
</body>
</html>