<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('partials/head.ejs') %>
<body class="p1 text-center">
    <img src="/img/snocream-logo-transparent.png" class="logo"/>
    <h1>Administration Panel</h1>
    <h2>Add Menu Item</h2>
    <nav class="subpanel-nav">
        <a href="/admin/menu-items"><i class="fa fa-caret-left"></i> All Menu Items</a>
        <a>Logout <i class="fa fa-sign-out"></i></a>
    </nav>
    <form action="/admin/menu-items/new" method="POST" class="add-menu-item-form">
        <div class="form-group">
            <label for="name" class="label">Name</label>
            <input type="text" name="name" id="name" class="text-input">
        </div>
        <div class="form-group">
            <label for="category" class="label">Category</label>
            <select name="category" id="category" class="select-input">
                <option value="">--SELECT--</option>
                <% for(let cat of menuCats) { %>
                <option value="<%= cat.id %>"><%= cat.category %></option>
                <% } %>
            </select>
        </div>
        <div class="form-group">
            <label for="description" class="label">Description</label>
            <textarea name="description" id="description" rows="5" class="text-input"></textarea>
        </div>
        <div class="form-group">
            <label for="image" class="label">Image</label>
            <input type="file" name="image" id="image" class="file-input" accept="image/*">
        </div>
        <div class="form-group">
            <button type="submit" id="subbut" class="btn btn--primary btn--block">Submit</button>
        </div>
        <div class="errbox"></div>
    </form>
    <script>
        const errbox = document.querySelector('.errbox');

        document.querySelector('#subbut').addEventListener('click', e => {
            e.preventDefault();
            errbox.style.display = 'none';
            errbox.innerText = null;

            const fields = {
                name : document.querySelector('#name').value.trim(), 
                category : document.querySelector('#category').value, 
                description : document.querySelector('#description').value.trim(), 
                image : document.querySelector('#image').files[0]
            }

            const errors = [];

            !fields.name && errors.push('Please enter the item name.');
            !fields.category && errors.push('Please select a category');
            !fields.description && errors.push('Please enter a description');

            if(errors.length){
                errbox.style.display = 'block';
                for(let err of errors){
                    errbox.insertAdjacentHTML('beforeend', `<p>${err}</p>`);
                }
                return;
            }

            document.querySelector('.add-menu-item-form').submit();
        });
    </script>
</body>
</html>