<header class="header">
    <div class="header__one">
        <a><img src="./img/snocream-logo-transparent.png" class="header__logo" alt="Snocream Logo"></a>
    </div>
    <div class="header__two">
        <i class="header__navtoggle fa fa-bars"></i>
        <nav class="navigation">
            <i class="fa fa-close navigation__close-btn"></i>
            <div class="navigation__list">
                <a href="#" class="navigation__item">Menu</a>
                <a href="#" class="navigation__item">Specials + Offers</a>
            </div>
        </nav>
    </div>
</header>