<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SnoCream Website Unavailable</title>
    <style>
        *,*::before,*::after{
            margin:0;
            padding:0;
            box-sizing:inherit;
        }
        html{
            box-sizing:border-box;
            width:100%;
            height:100%;
        }
        body{
            font-size:62.5%;
            padding:1rem;
            width:100%;
            height:100%;
            display:flex;
            justify-content:center;
            align-items:center;
            background:#f1f1f1;
            overflow:hidden;
        }
        .container{
            max-width:50rem;
            border:3px solid rgb(50, 47, 189);
            padding:2rem;
            background:#fff;
            box-shadow:0 0 1rem rgba(0,0,0,.3);
            border-radius:.5rem;
        }
        .snocream-logo{
            max-width:14rem;
            display:block;
            margin:0 auto 2rem auto;
        }
        .message{
            font-size:1.6rem;
            color:#777;
            text-align:center;
        }
    </style>
</head>
<body>
    <main>
        <div class="container">
            <img src="/img/snocream-logo-transparent.png" class="snocream-logo" alt="SnoCream Logo">
            <div class="message">
                <p>Sorry, this website is momentarily unavailable and undergoing maintenance. Please check back later!</p>
                <p>Meanwhile, please visit our <a href="https://www.facebook.com/pages/category/Ice-Cream-Shop/Sno-Cream-281823739094009/">Facebook page</a></p>
            </div>
        </div>
    </main>
</body>
</html>