<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head.ejs') %>
<body>
    <!-- Header and Nav -->
    <%- include('partials/headerNav.ejs') %>
    <main>
        <section class="menu-main-heading">
            <h1>Our Menu</h1>
        </section>
        <div class="container p15">
            <div class="menu-cat">
                <h2 class="menu-cat__heading">Sno Creams</h2>
                <div class="menu-cat__menu-items">
                    <div class="menu-item">
                        <div class="menu-item__img-container">
                            <img class="menu-item__img" src="http://www.placehold.it/400x400" alt="">
                        </div>
                        <div class="menu-item__name">
                            Item 1
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="menu-item__img-container">
                            <img class="menu-item__img" src="http://www.placehold.it/400x400" alt="">
                        </div>
                        <div class="menu-item__name">
                            Item 2
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="menu-item__img-container">
                            <img class="menu-item__img" src="http://www.placehold.it/400x400" alt="">
                        </div>
                        <div class="menu-item__name">
                            Item 3
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="menu-item__img-container">
                            <img class="menu-item__img" src="http://www.placehold.it/400x400" alt="">
                        </div>
                        <div class="menu-item__name">
                            Item 4
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="menu-item__img-container">
                            <img class="menu-item__img" src="http://www.placehold.it/400x400" alt="">
                        </div>
                        <div class="menu-item__name">
                            Item 5
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="menu-item__img-container">
                            <img class="menu-item__img" src="http://www.placehold.it/400x400" alt="">
                        </div>
                        <div class="menu-item__name">
                            Green Tea Macha
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-cat">
                <h2 class="menu-cat__heading">Boba Teas</h2>
                <div class="menu-cat__menu-items">
                    <div class="menu-item">
                        <div class="menu-item__img-container">
                            <img class="menu-item__img" src="http://www.placehold.it/400x400" alt="">
                        </div>
                        <div class="menu-item__name">
                            Item 1
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>