<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head.ejs') %>
<body>
    <!-- Header and Nav -->
    <%- include('partials/headerNav.ejs') %>
    <div class="mainContainer">
        <main>
            <div class="page-main-heading">
                <h1>Specials + Offers</h1>
            </div>
            <div class="container p15">
                <div class="offers-specials-list">
                    <div 
                    class="offer-item"
                    data-img="dots-light.jpg"
                    data-name="Limited Time Only: Buy One Get One Free"
                    data-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean hendrerit fermentum nulla vel vulputate. Nullam ullamcorper auctor neque eget tristique. Cras nec metus vel tellus ullamcorper dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce rutrum interdum leo, vitae commodo neque. Fusce a metus quis justo pellentesque semper id vel odio. Quisque bibendum pulvinar nunc pharetra condimentum. Maecenas a libero sit amet turpis gravida molestie quis et elit. In turpis orci, pharetra quis consequat non, mattis eget diam. Aenean justo metus, iaculis non posuere ut, mollis in velit. Nunc lacinia euismod ligula non porta. Donec vitae nunc quis augue finibus varius id pretium lorem. Ut sit amet nisi ut odio consectetur gravida in molestie lacus. Quisque luctus iaculis arcu et ullamcorper."
                    >
                        <div class="offer-item__img-container">
                            <img src="/img/dots-light.jpg" alt="generic image" class="offer-item__img">
                        </div>
                        <div class="offer-item__name">
                            Limited Time Only: Buy One Get One Free
                        </div>
                        <div class="offer-item__expiration-date">
                            Expires: Dec. 25, 2020
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal">
                <div class="modal__content">
                    <div class="modal__img-container">
                        <img class="modal__img"/>
                    </div>
                    <h3 class="modal__item-name"></h3>
                    <p class="modal__item-desc"></p>
                </div>
            </div>
        </main>
    </div>
    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
    <script src="/js/navToggle.js"></script>
    <script>
        const offerItems = document.querySelectorAll('.offer-item');
        const modal = document.querySelector('.modal');
        const modalContent = document.querySelector('.modal__content');
        const modalImg = document.querySelector('.modal__img');
        const itemName = document.querySelector('.modal__item-name');
        const itemDesc = document.querySelector('.modal__item-desc');

        for(let offerItem of offerItems){

            offerItem.addEventListener('click', () => {

                modalImg.src = `/img/${offerItem.getAttribute('data-img')}`;
                itemName.innerText = offerItem.getAttribute('data-name');
                itemDesc.innerText = offerItem.getAttribute('data-description');
                document.body.style.position = 'fixed';
                document.body.style.width = '100%';
                modal.style.display = 'flex';


            });


        }

        modal.addEventListener('click', () => {
            document.body.style.position = 'static';
            document.body.style.width = 'initial';
            modal.style.display = 'none';
        });

        modalContent.addEventListener('click', e => {
            e.stopImmediatePropagation();
        });

    
    </script>
</body>
</html>